<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<style>
    table {
        border: 1px solid grey;
    }
</style>
<body>
<div >
    <table>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Адресс</th>

        </tr> <!--ряд с ячейками заголовков-->
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getAddress()}"></td>
            <td>
                <form th:action="@{/delete(id=${user.id})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button type="submit">Удалить</button>
                </form>
            </td>
            <td>
                <form th:action="@{/edit/{id}(id=${user.id})}" th:object="${user}">

                    <button type="submit">Изменить</button>
                </form>
            </td>


        </tr> <!--ряд с ячейками тела таблицы-->
    </table>

    <a href="new.html"> Добавить User </a>

</div>
</body>
</html>